article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    justify-content: left;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
    justify-content: center;
}
.filter-options select {
    width: 200px;
}
/* ====================== Restaurant Listing ====================== */
#restaurants-list li {
    margin: 1.25% 1.25% 1.25% 1.25%;
    width: 37%;
}

#breadcrumb {
    width: calc(50% - 80px);
}
/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
}
.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: calc(100% - 80px);
  position: fixed;
  right: 0;
  top: 80px;
  width: 50%;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
.inside #footer {
  bottom: 0;
  position: absolute;
  width: calc(50% - 50px);
}
#restaurant-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 140px 40px 30px;
  width: calc(50% - 80px);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#reviews-container {
    border-bottom: 1px solid #d9d9d9;
    border-top: 1px solid #fff;
    padding: 30px 40px 90px;
    width: calc(50% - 80px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
